/* Custom cluster colors by number of markers contained within a cluster */
.marker-cluster-small {
    background-color: #FFDF00;
    border-radius: 50%;
    border: 2px solid #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
  }
  .marker-cluster-medium {
    background-color: #ED872D;
    border-radius: 50%;
    border: 2px solid #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
  }
  .marker-cluster-large {
    background-color: #C66F44;
    border-radius: 50%;
    border: 2px solid #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
  }
  .marker-cluster-xlarge {
    background-color: #9F585B;
    border-radius: 50%;
    border: 2px solid #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
  }
  .marker-cluster-xxlarge {
    background-color: #784072;
    border-radius: 50%;
    border: 2px solid #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
  }
  .marker-cluster-xxxlarge {
    background-color: #512889;
    border-radius: 50%;
    border: 2px solid #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
  }
  
  .leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
    -webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-in;
    -moz-transition: -moz-transform 0.2s ease-out, opacity 0.2s ease-in;
    -o-transition: -o-transform 0.2s ease-out, opacity 0.2s ease-in;
    transition: transform 0.2s ease-out, opacity 0.2s ease-in;
    }